body {
    width: 100%;
    height: 100vh;
    background-color: #f4f4f4;
}

h1 {
    font-family: "Graphik";
    font-size: 25px;
    font-weight: bold;
    width: max-content;
}

p {
    font-family: "Graphik";
    font-size: 40px;
    font-weight: bold;
    width: 600px;
}

.about_me {
    width: 50%;
    margin: 5vw auto 0;
}

.about_header {
    display: flex;
    align-items: center;
}

.photo_me {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-image: url(../images/me.jpg);
    background-size: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    margin-right: 32px;
}

.experience {
    margin-top: 80px;
}

.logo_company {
    width: 40px;
    height: 40px;
    background-color: black;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 45%;
    margin-bottom: 16px;
}

.kvantorium {
    background-image: url(../images/kvantorium.svg);
    background-size: 60%;
}

.totaldict {
    background-image: url(../images/totaldict.svg);
    background-size: 45%;
}

.elki {
    background-image: url(../images/elki-palki.svg);
    background-size: 45%;
}

.work_time {
    margin-top: 8px;
    opacity: 50%;
    font-size: 16px;
    font-weight: normal;
    width: max-content;
}

.experience_description {
    font-size: 25px;
    font-weight: normal;
    margin-top: 8px;
    
}

footer {
    padding: 10vw 25vw;
    display: flex;
    justify-content: center;
}

a {
    font-family: "Graphik";
    color: black;
    font-size: 2vw;
    font-weight: normal;
    text-decoration: none;
    width: max-content;
    padding: 0 16px;
}

a:hover {
    opacity: 50%;
}

.projects {
    padding: 5vw;
}

.projects_container div+div {
    margin-top: 2vw;
}

.projects_container video+video {
    margin-top: 2vw;
}

.projects_container {
    padding: 2vw;
    background-color: #E6E6E6;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image_project {
    border-radius: 10px;
    width: 90%;
    height: 40vw;
    background-size: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
}

.projects_info {
    display: flex;
    justify-content: space-between;
}

.projects_info p {
    font-family: "Graphik";
    color: black;
    font-size: 2vw;
    font-weight: normal;
    width: 35vw;
}

.projects_info p:nth-of-type(1) {
    width: min-content;
    margin-right: 16px;
}

.projects_info a {
    padding: 0;
}

.menoe {
    background-image: url(../images/menoe.png);
}

.kurs_1 {
    background-image: url(../images/kurs1.png);
}

.kurs_1_2 {
    background-image: url(../images/kurs1_2.png);
}

.tabel {
    background-image: url(../images/tabel.png);
}

.greenstd {
    background-image: url(../images/greenstd.png);
}

.charger {
    background-image: url(../images/charger.png);
    height: 39vw;
}

.gagarin {
    background-image: url(../images/gagarin.png);
    height: 31vw;
}

.lider {
    background-image: url(../images/lider.png);
    height: 42vw;
}

.rosbank {
    background-image: url(../images/rosbank.png);
    height: 42vw;
    width: 58%;
}