@media screen and (min-width: 1920px){

}

@media screen and (max-width: 1440px) and (min-width: 1023px) {

}

@media screen and (max-width: 1920px) and (min-width: 1441px){

}

@media screen and (max-width: 1024px) and (min-width: 767px) {

}

@media screen and (max-width: 768px) and (min-width: 415px) {
    p {
        font-size: 25px;
    }

    .about_me {
        width: 90%;
        margin: 5vw auto 0;
    }

    .about_header {
        align-items: flex-start;
        flex-direction: column;
    }

    .image_project {
        width: 100%;
    }

    footer {
        padding: 10vw;
    }
}

@media screen and (max-width: 414px) and (min-width: 320px) {
    p {
        font-size: 25px;
        width: min-content;
    }

    .about_me {
        width: 90%;
        margin: 5vw auto 0;
    }

    .about_header {
        align-items: flex-start;
        flex-direction: column;
    }

    .image_project {
        width: 100%;
    }

    footer {
        padding: 10vw;
    }
}

